html {
    overflow-y: scroll;
}

body {
    /* navbar */
    padding-top: 70px;
    padding-right: 0 !important;

    font-size: 14px;

    background-color: rgb(241, 242, 246);
}

.tooltip-inner {
    white-space:pre;
    max-width:none;
}

.carousel-inner img {
    margin: auto;
}
