/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 123px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 107px;
    background-color: #f5f5f5;
    padding: 0; /* for bootflat */
}

.footer > .container {
    padding-top: 10px;
}

.footer > .container > p {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}

#login:before {
    content: none;
}
